# .gitignore 0.0.6                  UTF-8                         2026-01-11
#---|----1----|----2----|----3----|----4----|----5----|----6----|----7----|--*
#
#                    oFrugal/dev/cache\Exclusions from Git
#                    =====================================
#
#              .GITIGNORE FOR KEEPING BUILDS OUT OF A REPOSITORY
#
#   This .gitignore file is intended to exclude intermediate compilation and
#   cache *.obj materials from a git repository.  The idea is to avoid
#   tainting a clone, an install, or an oFrugal-based project.

#   Exclude MS Built Tools Intermediates from repositories
*.obj

#   Exclude Cache-housed executables and generated batch scripts
*.exe
*.bat

#   Exclude any files that are created dynamically and also ephemeral


#---|----1----|----2----|----3----|----4----|----5----|----6----|----7----|--*

# 0.0.6 2026-01-11T17:51Z Adapt from the VCrayApp cache.txt version 0.0.5

#                       *** end of cache/.gitignore ***
